.formular {
    display: flex;
    flex-direction: column;
}

.formular {
    padding: 0 25px;
}

.formular>input {
    width: 100%;
    margin: 10px 0;
}

.cc__list>input {
    width: 100%;
}

.cc__list {
    width: 100%;
}

.accordion__item.list {
    padding: 0;
}

.cc__list .list-item__header {
    padding: 12px;
}

.accordion__head {
    padding-left: 8px;
}

.button {
    margin: 5px 12px 12px;
}

.accordion__head__title {
    margin-left: 5px;
}